.pagination {
  margin-top: 40px;
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.pageLink {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
  border: 2px solid transparent;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.pageLink:hover {
  border: 2px solid #007eff;
}
