
.select {
  color: #000;
  text-decoration: solid;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  padding: 15px;
  border: none;
  border-bottom: 2px solid #0000004d;
  cursor: pointer;
  background-color: transparent;
  transition: all .3s;
}
.select:hover {
  opacity: .5;
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.arrow {
  display: inline-block;
  pointer-events: none;
}

.option {

  border-radius: 5px;
  cursor: pointer;
}

.filterNameContainer {
  
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnFavorites {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  transition: all .3s;
}
.btnFavoritesActive {
  color: #007eff
}
.btnFavorites:hover {
  opacity: .5;
}

.filterIcon {
  cursor: pointer;
}
