.select {
  color: #000;
  text-decoration: solid;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  max-width: 90px;
  /* padding: 10px; */
  border: none;
  /* border-bottom: 2px solid #0000004d; */
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
}

.select:hover {
  opacity: 0.5;
}
.select:focus-visible {
  outline: 1px solid transparent;
}
.btnSubmit {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #bedfff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnSubmit:hover {
  background-color: #bedfff;
}
.btnSubmit:disabled {
  pointer-events: none;
}
.input {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #bedfff;
  border-radius: 5px;
}
.input:focus-visible {
  outline: none;
}
.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.arrow {
  display: inline-block;
  pointer-events: none;
}

.option {
  border-radius: 5px;
  cursor: pointer;
}
.groupFilter {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.filterNameContainer {
  flex-wrap: wrap;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnFavorites {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  transition: all 0.3s;
}
.btnFavoritesActive {
  color: #0080ff;
}
.btnFavorites:hover {
  opacity: 0.7;
}

.filterIcon {
  cursor: pointer;
}
