.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  gap: 40px;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.label {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.input {
  padding: 20px;
  width: 90%;
}


.btns {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  align-self: center;
}

.btn {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all .3s ;
}
.btn:hover {
  color: #fff;
  background-color: #007eff;
  border: none;
} 