.containerFilter {
  margin: auto;
  margin-top: 150px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 5px 15px rgb(0 38 93 / 8%);

  display: flex;
  margin-bottom: 16px;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

.filterIcon {
  padding-top: 10px;
  padding-right: 8px;
}
